// Animations

.fade-out {
    animation: fade-out 2s;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.fade-in {
    animation: fade-in 3s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes overlay {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes overlay-text {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
}

.fade-in-short {
    animation: fade-in-short 1s;
}

@keyframes fade-in-short {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}