.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    &--lang {
        font-weight: bold;
        opacity: 0.3;
        transition: all 0.5s;
        &:hover {
            opacity: 0.7;
            transition: all 0.5s;
        }
        &--active {
            opacity: 0.8;
            transition: all 0.5s;
            &:hover {
                opacity: 1;
                transition: all 0.5s;
            }
        }
    }
    &--theme {
        border-radius: 2rem;
        width: 8rem;
        height: 3.5rem;
        font-size: 2rem;
        position: relative;
        @include flex-row;
        transition: all 0.5s;
        justify-content: space-between;
        padding: 0;
        &--light {
            border: 2px solid #333333;
        }
        &--dark {
            border: 2px solid #cccccc;
        }
    }
    &__blob {
        display: block;
        width: 3rem;
        height: 2.7rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #333333;
        border-radius: 50%;
        transition: all 0.4s;
        &--sun {
            left: 0.3rem;
            background-color: #272a33;
        }
        &--moon {
            left: calc(100% - 3.3rem);
            background-color: #f4f0e6;
        }
    }
    &--404 {
        border-radius: 2rem;
        height: 3.5rem;
        padding: 0 1.5rem;
        text-decoration: none;
        @include flex-center-row;
        transition: 0.5s all;
    }
}