.cookie-info {
    position: fixed;
    bottom: 3rem;
    z-index: 5;
    border-radius: 1rem;
    padding: 0 2rem 0 2rem;
    @include mq-max(600px) {
        width: 90%;
        right: 5%;
    }
    @include mq-min(601px) {
        width: 35rem;
        right: 2rem;
    }
}

.cookie-info__text {
    font-size: 1.1rem;
    position: relative;
}

.cookie-info__close {
    position: absolute;
    top: 0.5rem;
    right: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: none;
}

.cookie-info:hover {
    border-bottom: none;
}