.cookie-info {
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    width: 35rem;
    z-index: 5;
    border-radius: 1rem;
    padding: 0 2rem 0 2rem;
}

.cookie-info__text {
    font-size: 1.1rem;
    position: relative;
}

.cookie-info__close {
    position: absolute;
    top: 0;
    right: 0.5rem;
    cursor: pointer;
}