.error-404 {
  flex-direction: column;
}

.error-404__title {
  font-size: 8rem;
  margin: 0;
  @include mq-max(800px) {
    font-size: 4rem;
  }
}

.error-404__subtitle {
  font-size: 2.5rem;
  margin-bottom: 0;
  @include mq-max(800px) {
    margin-top: 0;
    font-size: 2rem;
  }
}