// Footer

.footer {
    @include flex-center-column;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer__copyright {
    font-size: 1.2rem;
}
.footer__link {
    color: #333;
    text-decoration: none;
}
.footer__link:hover, .footer__link:focus {
    color: #555;
    text-decoration: underline;
}