// Footer

.footer {
    @include flex-center-row;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    max-width: 100vw;
    min-height: 5rem;
    z-index: 10;
}

.footer__copyright {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.footer__link {
    color: #333;
    text-decoration: none;
    border-bottom: none;
}

.footer__link:hover, .footer__link:focus {
    color: #555;
    text-decoration: underline;
    border-bottom: none;
}