.form {
    @include flex-column;
    margin-top: 1rem;
    @include mq-max(900px) {
        padding: 1rem;
    }
    @include mq-min(901px) {
        padding: 2.5rem;
        width: 50%;
    }
    position: relative;
}
.form__input {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgba(200, 200, 200, 0.5);
    color: #333333;
    width: 100%;
    border: none;
    height: 3rem;
    text-indent: 1rem;
    transition: all 0.5s;
}
.form__input:focus {
    background-color: rgba(180, 180, 180, 0.8);
    transition: all 0.5s;
}
.input__fail {
    font-size:1.4rem;
    color: #c71610;
}
.form__textarea {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgba(200, 200, 200, 0.5);
    color: #333333;
    width: 100%;
    height: 13rem;
    border: none;
    resize: none;
    text-indent: 1rem;
    padding-top: 0.5rem;
    transition: all 0.5s;
}
.form__textarea:focus {
    background-color: rgba(180, 180, 180, 0.8);
    transition: all 0.5s;
}
.form__button {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.8rem;
    color: #ffffff;
    background-color: #666666;
    cursor: pointer;
    margin: 2rem auto 1rem auto;
    width: 10rem;
    height: 3rem;
    border: none;
    transition: all 0.5s;
}
.form__button:hover {
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #999999;
    box-shadow: 0px 0px 15px 5px rgba(51,51,51,0.3);
    transition: all 0.5s;
}
.form__button:focus {
    color: #ffffff;
    background-color: #444444;
}
.form__group {
    font-size: 1.8rem;
    padding: 1rem;
    text-align: center;
    transition: all 0.5s;
}
.form__group:hover {
    box-shadow: 0px 0px 15px 5px rgba(51,51,51,0.3);
    transition: all 0.5s;
}
.form__success {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 70%;
    height: 20%;
    background-color: #4CD964;
    box-shadow: 0px 0px 15px 5px rgba(51,51,51,0.3);
    @include flex-center-column;
    p {
        font-size: 2.4rem;
        color: #ffffff;
    }
    @include mq-max(600px) {
        width: 90%;
        text-align: center;
    }
}
.form__fail {
    @extend .form__success;
    background-color: #c71610;
}