.form {
  @include flex-column;
  position: relative;
  width: 35%;
  @include mq-max (800px) {
    width: 90%;
  }
  @include mq-minmax (801px,1366px) {
    width: 40%;
  }
}

.form__input {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  width: 100%;
  border: none;
  text-indent: 1rem;
  transition: all 0.5s;
  padding: 0.5rem;
  border-radius: 1.5rem;
  line-height: normal; // very important for iOS Safari placeholder issue
}

.form__input:focus {
  transition: all 0.5s;
}

.input__fail {
  font-size: 1.4rem;
  color: #c71610;
  margin-bottom: 0;
}

.form__textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  width: 100%;
  height: 10rem;
  border: none;
  resize: none;
  text-indent: 1rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
  transition: all 0.5s;
  text-indent: 1rem;
  line-height: normal; // very important for iOS Safari placeholder issue
}

.form__textarea:focus {
  transition: all 0.5s;
}

.form__button {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  margin: 2rem auto 1rem auto;
  width: 10rem;
  height: 3rem;
  border: none;
  transition: all 0.5s;
  border-radius: 1.5rem;
  @include mq-minmax(801px, 1366px) {
    margin: 1rem auto 1rem auto;
  }
}

.form__group {
  font-size: 1.8rem;
  padding: 0.5rem;
  text-align: center;
  @include mq-max(800px) {
    font-size: 1.4rem;
  }
}

.form__success, .form__fail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 70%;
  height: 20%;
  box-shadow: 0px 0px 15px 5px rgba(51,51,51,0.3);
  border-radius: 1.5rem;
  @include flex-center-column;
  p {
    font-size: 2rem;
    margin: 1rem;
    color: #ffffff;
    text-align: center;
  }
  @include mq-max(600px) {
    width: 90%;
    text-align: center;
  }
}

.form__success {
  background-color: rgb(39, 155, 58);
}

.form__fail {
  background-color: #c9201a;
}

.form__optional {
  opacity: 0.54;
  font-size: 1.4rem;
}