.form {
    @include flex-column;
    position: relative;
    width: 50%;
    @include mq-max (800px) {
        width: 90%;
    }
}

.form__input {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    border: none;
    height: 3rem;
    text-indent: 1rem;
    transition: all 0.5s;
}

.form__input:focus {
    transition: all 0.5s;
}

.input__fail {
    font-size: 1.4rem;
    color: #c71610;
}

.form__textarea {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 10rem;
    border: none;
    resize: none;
    text-indent: 1rem;
    padding-top: 0.5rem;
    transition: all 0.5s;
}

.form__textarea:focus {
    transition: all 0.5s;
}

.form__button {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    margin: 2rem auto 1rem auto;
    width: 10rem;
    height: 3rem;
    border: none;
    transition: all 0.5s;
}

.form__group {
    font-size: 1.8rem;
    padding: 0.5rem;
    text-align: center;
    @include mq-max(800px) {
        font-size: 1.4rem;
    }
}

.form__success, .form__fail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 70%;
    height: 20%;
    background-color: #4CD964;
    box-shadow: 0px 0px 15px 5px rgba(51,51,51,0.3);
    @include flex-center-column;
    p {
        font-size: 2.4rem;
        color: #ffffff;
        text-align: center;
    }
    @include mq-max(600px) {
        width: 90%;
        text-align: center;
    }
}

.form__fail {
    background-color: #c71610;
}