@mixin flex-row {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 0;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
}

@mixin flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 0;
}

@mixin flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
    display: $display;
    position: $pos;
    content: $content;
}

@mixin mq-max($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin mq-min($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

@mixin mq-minmax($width, $width2) {
    @media screen and (min-width: $width) and (max-width: $width2) {
        @content;
    }
}

@mixin v-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

@mixin one-third {
    width: calc((100% / 3) - 2px);
}

@mixin bg-cover {
    background-size: auto auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}