// Nav

.nav {
    @include flex-center-row;
    width: 100vw;
    max-width: 100vw;
    height: 6rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav__logo {
    width: 15rem;
    border-bottom: none;
}

.nav__list {
    @include flex-center-row;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    @include mq-max(850px) {
        display: none;
    }
    @include mq-minmax(851px, 1010px) {
        width: 60%;
        margin-left: 10%;
    }
    @include mq-minmax(1011px, 1649px) {
        width: 65%;
        margin-left: 5%;
    }
    @include mq-min(1650px) {
        width: 40%;
    }
}

.nav__list--mobile {
    @include flex-center-column;
    position: fixed;
    left: 0;
    top: 4.4rem;
    width: 100vw;
    display: none;
    padding: 0;
    z-index: 4;
    list-style: none;
}

.nav__item {
    font-size: 1.8rem;
    display: block;
    width: 20%;
    padding: 1rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.nav__item--mobile {
    width: 100vw;
    font-size: 1.8rem;
    display: block;
    text-align: center;
    z-index: 4;
    padding: 1rem 0 1rem 0;
}

.nav__link {
    text-decoration: none;
}

.nav__link--mobile {
    z-index: 5;
}

.nav__link--start {
    position: fixed;
    top: 1.5rem;
    left: 2rem;
}

.nav__hamburger, .nav__close-menu {
    font-size: 3rem;
    border: none;
    background: none;
    margin-left: auto;
    cursor: pointer;
    @include mq-min(851px) {
        display: none;
    }
}

.nav__close-menu {
    display: none;
}