// Nav

.nav {
    @include flex-center-row;
    width: 100vw;
    max-width: 100vw;
    height: 6rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav__logo {
    width: 15rem;
}

.nav__list {
    @include flex-center-row;
    justify-content: space-around;
    width: 40%;
    padding: 0;
    list-style: none;
    @include mq-max(850px) {
        display: none;
    }
    @include mq-max(1100px) {
        width: 70%;
        margin-left: 20rem;
    }
}

.nav__list--mobile {
    @include flex-center-column;
    position: fixed;
    left: 0;
    top: 4.4rem;
    width: 100vw;
    display: none;
    padding: 0;
    z-index: 3;
    list-style: none;
}

.nav__item {
    font-size: 1.8rem;
    display: block;
    width: 20%;
    padding: 1rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.button--flag {
    @include mq-min(851px) {
        position: fixed;
        top: 1.5rem;
        right: 2rem;
    }
    cursor: pointer;
}

.nav__item--mobile {
    width: 100vw;
    font-size: 1.8rem;
    display: block;
    text-align: center;
    z-index: 4;
    padding: 1rem 0 1rem 0;
}

.nav__link {
    text-decoration: none;
}

.nav__link--mobile {
    z-index: 5;
}

.nav__link--start {
    position: fixed;
    top: 1.5rem;
    left: 2rem;
}

.nav__link:hover, .nav__link:focus {
    text-decoration: underline;
}

.nav__hamburger, .nav__close-menu {
    font-size: 3rem;
    border: none;
    background: none;
    margin-left: auto;
    cursor: pointer;
    @include mq-min(851px) {
        display: none;
    }
}

.nav__close-menu {
    display: none;
}

.button--lang {
    font-weight: bold;
    opacity: 0.3;
}

.button--lang {
    font-weight: bold;
    opacity: 0.3;
    &:hover {
        opacity: 0.7;
    }
}

.button--lang--active {
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
}