// Nav

.nav {
    @include flex-center-row;
    width: 100vw;
    max-width: 100vw;
    height: 8rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav__logo {
    width: 15rem;
    border-bottom: none;
    margin: 1rem 0 0 1.5rem;
}

.nav__list {
    @include flex-center-row;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    @include mq-max(850px) {
        @include flex-center-column;
        position: fixed;
        left: 0;
        top: -100vh;
        width: 100vw;
        padding: 0;
        z-index: 1;
        list-style: none;
        background-color: inherit;
        height: 100vh;
        transition: 0.3s all;
        &--expanded {
            top: 0;
            transition: 0.3s all;
        }
    }
    @include mq-minmax(851px, 1010px) {
        width: 60%;
        margin-left: auto;
    }
    @include mq-minmax(1011px, 1649px) {
        width: 65%;
    }
    @include mq-min(1650px) {
        width: 40%;
    }
    &--mobile {
        
    }
}

.nav__item {
    font-size: 1.8rem;
    display: block;
    width: 20%;
    padding: 1rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    @include flex-center-row;
    @include mq-max(800px) {
        width: 100vw;
        font-size: 2.2rem;
        display: block;
        text-align: center;
        z-index: 4;
        padding: 1rem 0 1rem 0;
    }
}

.nav__link {
    text-decoration: none;
    z-index: 5;
    @include mq-min(801px) {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            display: block;
            top: 100%;
            right: 50%;
            transform: tranlateX(50%);
            height: 2px;
            width: 0;
            transition: all 0.3s;
        }
        &::after {
            content: "";
            position: absolute;
            display: block;
            top: 100%;
            left: 50%;
            transform: tranlateX(-50%);
            height: 2px;
            width: 0;
            transition: all 0.3s;
        }
        &:hover::before, &:focus::before {
            width: 55%;
            transition: all 0.3s;
        }
        &:hover::after, &:focus::after {
            width: 55%;
            transition: all 0.3s;
        }
    }
    &--start {
        position: fixed;
        top: 1.5rem;
        left: 2rem;
    }
}

.nav__link.light-theme--link {
    &::before {
        background-color: #555555;
    }
    &::after {
        background-color: #555555;
    }
}

.nav__link.dark-theme--link {
    &::before {
        background-color: #cccccc;
    }
    &::after {
        background-color: #cccccc;
    }
}

.nav__hamburger, .nav__close-menu {
    position: fixed;
    top: 2rem;
    right: 1rem;
    z-index: 10;
    font-size: 3rem;
    border: none;
    background: none;
    margin-left: auto;
    cursor: pointer;
    @include mq-min(851px) {
        display: none;
    }
}

.nav__close-menu {
    display: none;
}