.projects {
    @include flex-center-row;
    width: 100%;
    height: 100%;
    position: relative;
    @include mq-max(800px) {
        width: 100%;
        padding-top: 0rem;
    }
    @media screen and (max-height: 800px) {
        padding-bottom: 5rem;
    }
}

.projects__nav-info {
    top: 6rem;
    position: absolute;
    left: 0;
    width: 90%;
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem 5%;
    transition: 0.5s all;
    &--hidden {
        top: 0;
        transition: 0.3s all;
    }
    @include mq-min(801px) {
        display: none;
    }
}

.projects__prev, .projects__next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    z-index: 10;
    font-size: 3rem;
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    margin: 0.5rem;
    background: none;
    border: none;
    transition: 0.3s all;
    &--light {
        color: #333333;
    }
    &--dark {
        color: #cccccc;
    }
    @include mq-max(800px) {
        display: none;
    }
    &--disabled {
        transition: 0.3s all;
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.projects__prev {
    left: 20%;
}

.projects__next {
    right: 20%;
}

.projects__project {
    @include flex-center-column;
    padding: 0 2rem 1rem 2rem;
    z-index: 0;
}

.projects__photo {
    z-index: 0;
}

.projects__title {
    font-size: 2.5rem;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    margin: 0;
    @include mq-max(800px) {
        margin-top: 2.5rem;
    }
}

.projects__tags {
    @include flex-center-row;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    @include mq-max(800px) {
        display: none;
    }
}

.projects__tag {
    display: block;
    padding: 0rem 1rem;
    margin: 0.5rem 0.3rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    transition: 0.5s all;
}

.projects__description {
    text-align: center;
    width: 70%;
    font-size: 1.6rem;
    @include mq-max(800px) {
        width: 95%;
        font-size: 1.4rem;
    }
    @include mq-minmax(801px,1366px) {
        width: 80%;
        font-size: 1.4rem;
    }
}

.projects__link {
    color: #333;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-bottom: none;
    margin: 2rem 0 0 0;
    &--code {
        margin: 0;
    }
}

.projects__link:hover, .projects__link:focus {
    color: #666;
    text-decoration: underline;
    border-bottom: none;
}

.owl-carousel .owl-item img {
    width: 40%;
    @include mq-max(850px) {
        margin-top: 2rem;
        width: 80%;
    }
    @include mq-minmax(851px,1366px) {
        width: 35%;
    }
}

.owl-carousel {
    z-index: 0;
}

.owl-theme .owl-dots {
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10;
    height: 20px;
    @include mq-max(800px) {
        top: 0rem;
    }
    @include mq-minmax(801px,1366px) {
        bottom: 4rem;
    }
    @include mq-min(1367px) {
        bottom: -4rem;
    }
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
}

.owl-theme .owl-dots .owl-dot span {
    display: block;
    height: 1rem;
    width: 1rem;
    margin: 5px 5px;
    border-radius: 50%;
    @include mq-max(800px) {
        height: 0.7rem;
        width: 0.7rem;
    }
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: #333333; 
    opacity: 1;
    transition: 0.3s all;
}