.projects {
    @include flex-center-row;
    width: 100%;
    @include mq-max(800px) {
        width: 100%;
    }
    @media screen and (max-height: 800px) {
        padding-bottom: 5rem;
    }
}

.projects__nav {
    
}

.projects__nav-list {
    list-style: none;
    padding: 0;
    @include flex-center-row;
    margin-top: -3rem;
    @include mq-max(800px) {
        margin-top: -2rem;
    }
}

.projects__nav-item {
    
}

.projects__prev, .projects__next {
    font-size: 1.8rem;
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    transition: 0.3s color, 0.3s background-color;
    margin: 0.5rem;
}

.projects__project {
    @include flex-center-column;
    padding: 2rem;
    z-index: 0;
}

.projects__photo {
    z-index: 0;
}

.projects__title {
    font-style: italic;
    text-align: center;
}

.projects__description {
    text-align: center;
    width: 70%;
    @include mq-max(800px) {
        width: 95%;
        font-size: 1.4rem;
    }
}

.projects__link {
    color: #333;
    text-align: center;
    font-weight: bold;
}

.projects__link:hover, .projects__link:focus {
    color: #666;
    text-decoration: underline;
}

.owl-carousel .owl-item img {
    width: 40%;
    @include mq-max(850px) {
        margin-top: 2rem;
        width: 80%;
    }
}

.owl-carousel {
    z-index: 0;
}
