.projects {
    @include flex-center-row;
    width: 100%;
    height: 100%;
    position: relative;
    @include mq-max(800px) {
        width: 100%;
        padding-top: 0rem;
    }
    @media screen and (max-height: 800px) {
        padding-bottom: 5rem;
    }
}

.projects__prev, .projects__next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: transleteX(-50%);
    z-index: 10;
    font-size: 3rem;
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    transition: 0.3s color, 0.3s background-color;
    margin: 0.5rem;
    background: none;
    border: none;
    transition: 0.3s;
    &--light {
        color: #333333;
    }
    &--dark {
        color: #cccccc;
    }
    @include mq-max(800px) {
        display: none;
    }
    &--disabled {
        transition: 0.3s;
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.projects__prev {
    left: 10%;
}

.projects__next {
    right: 10%;
}

.projects__project {
    @include flex-center-column;
    padding: 0 2rem 2rem 2rem;
    z-index: 0;
}

.projects__photo {
    z-index: 0;
}

.projects__title {
    font-style: italic;
    text-align: center;
}

.projects__description {
    text-align: center;
    width: 70%;
    @include mq-max(800px) {
        width: 95%;
        font-size: 1.4rem;
    }
}

.projects__link {
    color: #333;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-bottom: none;
    margin: 2rem 0 0 0;
    &--code {
        margin: 0;
    }
}

.projects__link:hover, .projects__link:focus {
    color: #666;
    text-decoration: underline;
    border-bottom: none;
}

.owl-carousel .owl-item img {
    width: 40%;
    @include mq-max(850px) {
        margin-top: 2rem;
        width: 80%;
    }
}

.owl-carousel {
    z-index: 0;
}
