.projects {
    @include flex-center-row;
    width: 100%;
    position: relative;
}

.projects__project {
    @include flex-center-column;
    padding: 2rem;
    z-index: 0;
}

.projects__photo {
    z-index: 0;
}

.projects__title {
    font-style: italic;
    text-align: center;
}

.projects__description {
    text-align: center;
    width: 80%;
    @include mq-max(800px) {
        width: 95%;
        font-size: 1.4rem;
    }
}

.projects__link {
    color: #333;
    text-align: center;
    font-weight: bold;
}

.projects__link:hover, .projects__link:focus {
    color: #666;
    text-decoration: underline;
}

.owl-carousel .owl-item img {
    width: 50%;
    @include mq-max(850px) {
        margin-top: 2rem;
        width: 70%;
    }
}

.owl-theme .owl-nav [class*="owl-"] {
    background-color: #333;
    color: #CDCBD4;
    padding: 0.7rem 1.5rem 0.5rem 1.5rem;
}
.owl-nav {
    position: absolute;
    top: -5rem;
    width: 100%;
    @include mq-max(850px) {
        top: -3rem;
    }
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: #555;
    color: #ffffff; 
}

.owl-carousel {
    z-index: 0;
}
