.section-projects {
    @include flex-center-row;
    width: 100%;
}
.project {
    @include flex-center-column;
    padding: 2rem;
}
.project__photo {
    display: block;
    width: 20%;
}
.project__title {

}
.project__description {
    text-align: center;
}
.project__link {
    color: #333;
    text-decoration: none;
}
.project__link:hover, .project__link:focus {
    color: #666;
    text-decoration: underline;
}

.owl-carousel .owl-item img {
    width: 50%;
}
.owl-theme .owl-nav [class*="owl-"] {
    background-color: #333;
    color: #CDCBD4;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: #666;
    color: #CDCBD4; 
}
