// Sections styles

.section {
  @include flex-center-column;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: inherit;
  opacity: 1;
  transition: 1s opacity;
  @include mq-max(800px) {
    padding-top: 8rem;
  }
  &--start {
    @include mq-max(800px) {
      padding-top: 0;
    }
  }
  &--about {
    padding-bottom: 5rem;
    @include mq-max(1366px) {
      padding-top: 6rem;
    }
  }
  &--projects {
    @include mq-max(800px) {
      padding-top: 10rem;
    }
    @include mq-minmax(801px,1366px) {
      padding-top: 7rem;
    }
  }
  &--contact {
    padding-bottom: 3rem;
    @include mq-max(1366px) {
      padding-top: 7rem;
    }
  }
}

.section__title {
  font-size: 3.5rem;
  margin-bottom: 0;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  @include mq-max(800px) {
    width: 95%;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 1rem;
  }
  @include mq-minmax(801px, 1366px) {
    width: 90%;
    font-size: 3rem;
    text-align: center;
  }
  &--start {
    font-size: 6rem;
    margin-bottom: 0;
    font-family: 'Roboto Slab', serif;
    @include mq-max(800px) {
        font-size: 4rem;
        text-align: center;
    }
  }
  &--projects {
    padding-top: 2rem;
    @include mq-minmax(801px, 1280px) {
      padding-top: 5rem;
    }
  }
  &--contact {
    margin-bottom: 0.5rem;
    @include mq-minmax(801px, 1366px) {
      margin: 0;
    }
  }
}

.section__subtitle {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 0;
  @include mq-max(800px) {
    width: 95%;
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem;
  }
  &--start {
    font-size: 3rem;
    margin-top: 0;
    font-weight: normal;
    font-family: 'Poppins', serif;
    @include mq-max(800px) {
      font-size: 2rem;
    }
  }
}

.section__description {
  font-size: 1.8rem;
  width: 70%;
  text-align: center;
  @include mq-max(800px) {
    width: 90%;
    font-size: 1.4rem;
    padding: 1rem;
  }
  @include mq-minmax(801px,1366px) {
    font-size: 1.6rem;
  }
}