.socials {
    @include flex-center-row;
    width: 50%;
    flex-wrap: wrap;
    padding: 5rem 10rem 5rem 10rem;
    @include mq-max (800px) {
        width: 100%;
        padding: 0;
    }
}

.socials__item {
    @include flex-center-column;
    flex-basis: 50%;
    text-decoration: none;
    color: #333;
    text-align: center;
    @include mq-max(800px) {
        flex-basis: 50%;
    }
}

.socials__item:nth-child(3) {
    @include mq-max(800px) {
        margin-bottom: 2rem;
    }
}
.socials__item:nth-child(4) {
    @include mq-max(800px) {
        margin-bottom: 2rem;
    }
}

.socials__item:hover, .socials__item:focus {
    color: #666;
}

.icon {
    font-size: 6rem;
    @include mq-max(800px) {
        font-size: 4rem;
    }
}