.icon--theme {
    cursor: pointer;
    transition: all 0.3s;
    width: 20%;
}

.light-theme {
    background-color: #eaeaea;
    color: #333333;
    transition: all 0.3s;
}

.light-theme--link {
    color: #333333;
    transition: all 0.3s;
}

.light-theme--link:hover, .light-theme--link:focus {
    color: #666666;
}

.dark-theme {
    background-color: #333333;
    color: #eaeaea;
    transition: all 0.3s;
}

.dark-theme--link {
    color: #eaeaea;
    transition: all 0.3s;
}

.dark-theme--link:hover, .dark-theme--link:focus {
    color: #ffffff;
}

.owl-prev--dark, .owl-next--dark {
    background-color: #dbdbdb !important;
    color: #333333 !important;
    transition: 0.3s color, 0.3s background-color;
}

.owl-prev--dark:hover, .owl-next--dark:hover {
    background-color: #f7f7f7 !important;
    color: #111111 !important; 
    transition: 0.3s color, 0.3s background-color;
}