.icon--theme {
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    width: 20%;
}

.light-theme {
    background-color: #f4f0e6;
    color: #333333;
    transition: background-color 0.5s, color 0.5s;
}

.light-theme--link {
    color: #000000;
    transition: color 0.5s;
}

.light-theme--link:hover, .light-theme--link:focus {
    color: #555555;
    transition: color 0.5s;
    border-bottom: 2px solid #555555;
}

.dark-theme {
    background-color: #272a33;
    color: #cccccc;
    transition: background-color 0.5s, color 0.5s;
}

.dark-theme--link {
    color: #cccccc;
    transition: color 0.5s;
}

.dark-theme--link:hover, .dark-theme--link:focus {
    color: #ffffff;
    transition: color 0.5s;
    border-bottom: 2px solid #ffffff;
}

.icon-sun {
    color: #cccccc;
    transition: color 0.5s;
}

.button--theme:hover .icon-sun {
    color: #ffffff;
    transform: rotate(180deg);
}

.icon-moon {
    color: #000000;
    transition: color 0.5s;
}

.button--theme:hover .icon-moon {
    color: #555555;
    transform: rotate(180deg);
}

.dark-outline:focus {
    outline: 1px dashed #cccccc;
}

.dark-outline:active {
    outline: 1px dashed #cccccc;
}

.light-theme--button {
    background-color: #111111;
    color: #cccccc;
    border: none;
    cursor: pointer;
}

.light-theme--button:hover {
    background-color: #555555;
    color: #ffffff;
}

.dark-theme--button {
    background-color: #cccccc;
    color: #333333;
    border: none;
    cursor: pointer;
}

.dark-theme--button:hover {
    background-color: #ffffff;
    color: #111111;
}

.input-light {
    background-color: #cccccc;
    color: #333333;
    &:hover {
        background-color: #c1c1c1;
        color: #333333;
    }
    &:focus {
        background-color: #afafaf;
        color: #111111;
    }
}

.input-dark {
    background-color: #777777;
    color: #cccccc;
    &:hover {
        background-color: #555555;
        color: #ffffff;
    }
    &:focus {
        background-color: #444444;
        color: #ffffff;
    }
}

.input-light::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #555555;
    text-indent: 1rem;
    padding: 1rem;
}

.input-dark::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
    text-indent: 1rem;
    padding: 1rem;
}

.input-light::-moz-placeholder { /* Firefox 19+ */
    color: #555555;
    text-indent: 1rem;
    padding: 1rem;
}

.input-dark::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
    text-indent: 1rem;
    padding: 1rem;
}

.input-light:-ms-input-placeholder { /* IE 10+ */
    color: #555555;
    text-indent: 1rem;
    padding: 1rem;
}

.input-dark:-ms-input-placeholder { /* IE 10+ */
    color: #ffffff;
    text-indent: 1rem;
    padding: 1rem;
}

.input-light:-moz-placeholder { /* Firefox 18- */
    color: #555555;
    text-indent: 1rem;
    padding: 1rem;
}

.input-dark:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
    text-indent: 1rem;
    padding: 1rem;
}