.icon--theme {
    cursor: pointer;
    transition: all 0.5s;
    width: 20%;
}

.light-theme {
    background-color: #cccccc;
    color: #333333;
    transition: all 0.5s;
}

.light-theme--link {
    color: #000000;
    transition: all 0.5s;
}

.light-theme--link:hover, .light-theme--link:focus {
    color: #555555;
    transition: all 0.5s;
}

.dark-theme {
    background-color: #333333;
    color: #cccccc;
    transition: all 0.5s;
    transition: all 0.5s;
}

.dark-theme--link {
    color: #cccccc;
    transition: all 0.5s;
}

.dark-theme--link:hover, .dark-theme--link:focus {
    color: #ffffff;
    transition: all 0.5s;
}

.icon-sun {
    color: #cccccc;
    transition: all 0.5s;
}

.button--theme:hover .icon-sun {
    color: #ffffff;
    transform: rotate(180deg);
}

.icon-moon {
    color: #000000;
    transition: all 0.5s;
}

.button--theme:hover .icon-moon {
    color: #555555;
    transform: rotate(180deg);
}

.dark-outline:focus {
    outline: 1px dashed #cccccc;
}

.dark-outline:active {
    outline: 1px dashed #cccccc;
}

.light-theme--button {
    background-color: #111111;
    color: #cccccc;
    border: none;
    cursor: pointer;
}

.light-theme--button:hover {
    background-color: #555555;
    color: #ffffff;
}

.dark-theme--button {
    background-color: #cccccc;
    color: #333333;
    border: none;
    cursor: pointer;
}

.dark-theme--button:hover {
    background-color: #ffffff;
    color: #111111;
}