// Partials

@import 'mixins.scss';
@import 'nav.scss';
@import 'projects.scss';
@import 'form.scss';
@import 'socials.scss';
@import 'footer.scss';
@import 'animations.scss';
@import 'devicons.scss';
@import 'themes.scss';
@import 'cookies.scss';

// Main Styles

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    box-sizing: border-box;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    color: #333; 
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

// Main layout

.container {
    @include flex-center-row;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
}

// Sections styles

.section {
    @include flex-center-column;
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    @include mq-max(800px) {
        padding: 5rem 0 2rem 0;
    }
}

.section__title {
    font-size: 4rem;
    @include mq-max(800px) {
        width: 95%;
        font-size: 2.5rem;
        text-align: center;
        padding-top: 1rem;
    }
    @include mq-minmax(801px, 1200px) {
        width: 90%;
        font-size: 3rem;
        text-align: center;
        padding-top: 2.5rem;
    }
    &--start {
        font-size: 7rem;
        @include mq-max(800px) {
            font-size: 4rem;
            text-align: center;
        }
    }
    &--projects {
        padding-top: 2rem;
    }
}

.section__subtitle {
    font-size: 2.5rem;
    font-weight: bold;
    @include mq-max(800px) {
        width: 95%;
        font-size: 1.8rem;
        text-align: center;;
    }
    &--start {
        font-size: 4rem;
        font-weight: bold;
        @include mq-max(800px) {
            font-size: 2rem;
        }
    }
}

.section__description {
    font-size: 1.8rem;
    width: 70%;
    text-align: center;
    @include mq-max(800px) {
        width: 90%;
        font-size: 1.4rem;
    }
}

// Specific elements styles, which are too small to be in a component

.contact {
    @include flex-center-row;
    width: 70%;
    @include mq-max(800px) {
        flex-direction: column;
        width: 100%;
    }
    @include mq-minmax(801px, 1200px) {
        width: 90%;
    }
}

.skills {
    @include flex-center-row;
    flex-wrap: wrap;
    padding: 0;
}

.skills__skill {
    @include flex-center-column;
    margin: 0 2rem 0 2rem;
    @include mq-max(800px) {
        flex-basis: 20%;
        margin: 0 0.5rem 0 0.5rem;
    }
}

.skills__text {
    @include mq-max(800px) {
        font-size: 1.4rem;
    }
}

.overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    @include flex-center-row;
    opacity: 0;
    background-color: #ffffff;
    animation: overlay 2s;
    overflow: hidden;
    &--light {
        background-color: #DBD7CD;
        color: #333333;
    }
    &--dark {
        background-color: #41444D;
        color: #cccccc;
    }
}

.overlay__text {
    font-size: 5rem;
    opacity: 0;
    animation: overlay-text 2s;
    @include mq-min(600px) {
        letter-spacing: 0.7rem;
    }
}

// Misc items

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.devicons {
    font-size: 5rem;
}

.icon-moon, .icon-sun {
    font-size: 3rem;
}

.visuallyhidden {
    display: none;
}