@import 'mixins.scss';
@import 'nav.scss';
@import 'projects.scss';
@import 'form.scss';
@import 'socials.scss';
@import 'footer.scss';
@import 'animations.scss';
@import 'devicons.scss';

// Main Styles
* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    box-sizing: border-box;
    width: 400vw;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    color: #333;
    background-color: #eaeaea;  
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

// Main layout

.container {
    @include flex-center-row;
    overflow-x: hidden;
    min-height: 100vh;
    width: 100%;
}

// Sections styles

.section {
    @include flex-center-column;
    background-color: #eaeaea;
    width: 100vw;
    overflow: auto;
    min-height: 100vh;
    @include mq-max(800px) {
        padding: 5rem 0 2rem 0;
    }
}

.section__title {
    font-size: 4rem;
    @include mq-max(850px) {
        width: 95%;
        font-size: 2.5rem;
        text-align: center;
    }
}

.section__subtitle {
    font-size: 2.5rem;
    @include mq-max(850px) {
        width: 95%;
        font-size: 1.8rem;
        text-align: center;;
    }
}

.section__title--start {
    font-size: 7rem;
    @include mq-max(850px) {
        font-size: 4rem;
        text-align: center;
    }
}

.section__subtitle--start {
    font-size: 4rem;
    @include mq-max(850px) {
        font-size: 2rem;
    }
}

.section__description {
    font-size: 1.8rem;
    width: 70%;
    text-align: center;
    @include mq-max(850px) {
        width: 90%;
        font-size: 1.4rem;
    }
}

// Specific elements styles

.contact {
    @include flex-center-row;
    width: 70%;
    @include mq-max(850px) {
        flex-direction: column;
        width: 100%;
    }
}

.skills {
    @include flex-center-row;
    flex-wrap: wrap;
}

.skills__skill {
    @include flex-center-column;
    margin: 0 2rem 0 2rem;
    @include mq-max(850px) {
        flex-basis: 20%;
        margin: 0 0.5rem 0 0.5rem;
    }
}

.skills__text {
    @include mq-max(850px) {
        font-size: 1.4rem;
    }
}

// Misc items

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #333333;
    text-indent: 1rem;
    padding: 1rem;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #333333;
    text-indent: 1rem;
    padding: 1rem;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #333333;
    text-indent: 1rem;
    padding: 1rem;
}

:-moz-placeholder { /* Firefox 18- */
    color: #333333;
    text-indent: 1rem;
    padding: 1rem;
}

.devicons {
    font-size: 5rem;
}