// Partials

@import 'mixins.scss';
@import 'nav.scss';
@import 'projects.scss';
@import 'form.scss';
@import 'socials.scss';
@import 'footer.scss';
@import 'animations.scss';
@import 'devicons.scss';
@import 'cookies.scss';

// Main Styles

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    box-sizing: border-box;
    max-width: 100vw;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    position: relative;
}

.overflow-on {
    overflow-x: hidden;
    overflow-y: auto;
}

.overflow-off {
    overflow-x: hidden;
    overflow-y: hidden;
}

// Main layout

.container {
    @include flex-center-row;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
}

.body-border {
    position: fixed;
    z-index: 20;
    &--top {
        top: 0;
        left: 0;
        min-height: 1.5rem;
        min-width: 100vw;
        @include mq-max(800px) {
            min-height: 0.5rem;
        }
    }
    &--bottom {
        bottom: 0;
        left: 0;
        min-height: 1.5rem;
        min-width: 100vw;
        @include mq-max(800px) {
            min-height: 0.5rem;
        }
    }
    &--left {
        top: 0;
        left: 0;
        min-width: 1.5rem;
        min-height: 100vh;
        @include mq-max(800px) {
            min-width: 0.5rem;
        }
    }
    &--right {
        top: 0;
        right: 0;
        min-width: 1.5rem;
        min-height: 100vh;
        @include mq-max(800px) {
            min-width: 0.5rem;
        }
    }
}

// Sections styles

.section {
    @include flex-center-column;
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    position: absolute;
    z-index: 1;
    transition: 0.3s all;
    top: 0;
    left: 0;
    background-color: inherit;
    opacity: 1;
    transition: 0.5s opacity;
    @include mq-max(800px) {
        padding-top: 8rem;
    }
    &--start {
        @include mq-max(800px) {
            padding-top: 0;
        }
    }
    &--about {
        padding-bottom: 5rem;
        @include mq-max(1366px) {
            padding-top: 6rem;
        }
    }
    &--projects {
        @include mq-max(800px) {
            padding-top: 10rem;
        }
        @include mq-minmax(801px,1366px) {
            padding-top: 7rem;
        }
    }
    &--contact {
        padding-bottom: 3rem;
        @include mq-max(1366px) {
            padding-top: 7rem;
        }
    }
}

.section__title {
    font-size: 3.5rem;
    @include mq-max(800px) {
        width: 95%;
        font-size: 2.5rem;
        text-align: center;
        padding-top: 1rem;
    }
    @include mq-minmax(801px, 1280px) {
        width: 90%;
        font-size: 3rem;
        text-align: center;
        padding-top: 3.5rem;
    }
    &--start {
        font-size: 7rem;
        @include mq-max(800px) {
            font-size: 4rem;
            text-align: center;
        }
    }
    &--projects {
        padding-top: 2rem;
        @include mq-minmax(801px, 1280px) {
            padding-top: 5rem;
        }
    }
    &--contact {
        margin-bottom: 0;
    }
}

.section__subtitle {
    font-size: 2.5rem;
    font-weight: bold;
    @include mq-max(800px) {
        width: 95%;
        font-size: 1.8rem;
        text-align: center;
        padding: 1rem;
    }
    &--start {
        font-size: 4rem;
        font-weight: bold;
        @include mq-max(800px) {
            font-size: 2rem;
        }
    }
}

.section__description {
    font-size: 1.8rem;
    width: 70%;
    text-align: center;
    @include mq-max(800px) {
        width: 90%;
        font-size: 1.4rem;
        padding: 1rem;
    }
    @include mq-minmax(801px,1366px) {
        font-size: 1.6rem;
    }
}

// Specific elements styles, which are too small to be in a component

.contact {
    @include flex-center-row;
    width: 70%;
    @include mq-max(800px) {
        flex-direction: column;
        width: 100%;
    }
    @include mq-minmax(801px, 1200px) {
        width: 90%;
    }
}

.skills {
    @include flex-center-row;
    flex-wrap: wrap;
    padding: 0;
    @include mq-max(800px) {
        margin-bottom: 4rem;
    }
}

.skills__skill {
    @include flex-center-column;
    margin: 0 2rem 0 2rem;
    @include mq-max(800px) {
        flex-basis: 20%;
        margin: 0 0.5rem 0 0.5rem;
    }
}

.skills__text {
    @include mq-max(800px) {
        font-size: 1.4rem;
    }
}

.overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 15;
    @include flex-center-row;
    opacity: 0;
    background-color: #ffffff;
    animation: overlay 2.5s;
    overflow: hidden;
    &--light {
        background-color: #DBD7CD;
        color: #333333;
    }
    &--dark {
        background-color: #41444D;
        color: #cccccc;
    }
}

.overlay__text {
    font-size: 5rem;
    opacity: 0;
    animation: overlay-text 3s;
    @include mq-min(600px) {
        letter-spacing: 0.7rem;
    }
    @include mq-max(800px) {
        font-size: 4rem;
    }
}

// Misc items

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    &--lang {
        font-weight: bold;
        opacity: 0.3;
        transition: all 0.5s;
        &:hover {
            opacity: 0.7;
            transition: all 0.5s;
        }
        &--active {
            opacity: 0.8;
            transition: all 0.5s;
            &:hover {
                opacity: 1;
                transition: all 0.5s;
            }
        }
    }
}

.devicons {
    font-size: 4rem;
}

.icon-moon, .icon-sun {
    font-size: 3rem;
}

@import 'themes.scss';

.visuallyhidden {
    position: absolute;
    height: 1px; 
    width: 1px; 
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.visuallyhidden--section {
    margin-top: -10000px;
    opacity: 0.01;
}