@import 'mixins.scss';
@import 'nav.scss';
@import 'projects.scss';
@import 'form.scss';
@import 'socials.scss';
@import 'footer.scss';
@import 'animations.scss';
@import 'devicons.scss';

// Main Styles
* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    overflow: hidden;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    color: #333;
    min-height: 100vh;
    width: 400vw;
    @include flex-center-column;
    background-color: #eaeaea;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

// Main layout

.container {
    display: flex;
    width: 400vw;
    height: auto;
    overflow: auto;
}

// Main Section

.main-section {
    width: 100vw;
    max-height: 100vh;
    @include flex-center-column;
    overflow: hidden;
    @include mq-max(850px) {
        max-width: 100vw;
        position: fixed;
        top: 15rem;
        left: 0;
    }
}

.main-section__title {
    font-size: 7rem;
    @include mq-max(850px) {
        font-size: 4rem;
        text-align: center;
    }
}

.main-section__subtitle {
    font-size: 4rem;
    @include mq-max(850px) {
        font-size: 2rem;
    }
}

// Sections styles

.section-wrapper {
    @include flex-center-row;
    width: 100vw;
    min-height: 100vh;
    overflow: auto;
}

.section {
    @include flex-center-column;
    background-color: #eaeaea;
    @include mq-minmax(320px, 968px) {
        width: 95%;
        overflow: auto;
    }
    @include mq-minmax(969px, 1200px) {
        width: 90%;
    }
    @include mq-min(1201px) {
        width: 117rem;
    }
}

.section--about {
    @include mq-max(850px) {
        width: 100vw;
        position: absolute;
        top: 5rem;
        left: 100vw;
    }
}

.section--projects {
    @include mq-max(850px) {
        width: 100vw;
        position: absolute;
        top: 5rem;
        left: 200vw;
    }
}

.section--contact {
    @include mq-max(850px) {
        width: 100vw;
        position: absolute;
        top: 5rem;
        left: 300vw;
    }
}

.section__title {
    font-size: 4rem;
    @include mq-max(850px) {
        width: 95%;
        font-size: 2.5rem;
        text-align: center;
    }
}

.section__subtitle {
    font-size: 2.5rem;
    @include mq-max(850px) {
        width: 95%;
        font-size: 1.8rem;
        text-align: center;;
    }
}

.section__description {
    font-size: 1.8rem;
    width: 100%;
    text-align: center;
    @include mq-max(850px) {
        width: 90%;
        font-size: 1.4rem;
    }
}

// Specific elements styles

.contact {
    @include flex-center-row;
    width: 100%;
    overflow: auto;
    @include mq-max(850px) {
        flex-direction: column;
    }
}

.skills {
    @include flex-center-row;
    flex-wrap: wrap;
}

.skills__skill {
    @include flex-center-column;
    margin: 0 2rem 0 2rem;
    @include mq-max(850px) {
        flex-basis: 20%;
        margin: 0 0.5rem 0 0.5rem;
    }
}

.skills__text {
    @include mq-max(850px) {
        font-size: 1.4rem;
    }
}

// Misc items

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #333333;
    text-indent: 1rem;
    padding: 1rem;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #333333;
    text-indent: 1rem;
    padding: 1rem;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #333333;
    text-indent: 1rem;
    padding: 1rem;
}

:-moz-placeholder { /* Firefox 18- */
    color: #333333;
    text-indent: 1rem;
    padding: 1rem;
}

.devicons {
    font-size: 5rem;
}