@import '_mixins.scss';
@import '_form.scss';
@import '_socials.scss';
@import '_animations.scss';

// Main Styles
* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}
body {
    box-sizing: border-box;
    font-size: 1.6rem;
    color: #333;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    @include flex-center-column;
}

// Header and nav

.header {
    @include flex-center-row;
}
.nav {
    @include flex-center-row;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.nav__logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
}
.nav__list {
    @include flex-center-row;
    justify-content: space-around;
    width: 50%;
    padding: 0;
}
.nav__item {
    font-size: 1.8rem;
    display: block;
}
.nav__link {
    text-decoration: none;
    color: #333;
}
.nav__link:hover, .nav__link:focus {
    color: #666;
    text-decoration: underline;
}

// Main layout

.container {
    @include flex-center-column;
    width: 1170px;
}
.container__title {
    color: #333333;
    margin-top: 5rem;
}

// Main Section

.main-section {
    @include flex-center-column;
    display: none;
}
.main-section__title {
    font-size: 7rem;
}
.main-section__subtitle {
    font-size: 4rem;
}

// Other sections

.section {
    background-color: #ffffff;
    @include flex-center-column;
    flex-wrap: wrap;
    display: none;
    width: 100%;
}
.section__title {
    font-size: 4rem;
}
.section__subtitle {
    font-size: 2.5rem;
}
.section__description {
    font-size: 1.8rem;
    width: 100%;
}

.contact {
    @include flex-center-row;
    width: 100%;
}

.skills {
    @include flex-center-row;
}
.skills__skill {
    @include flex-center-column;
    margin: 0 2rem 0 2rem;
}

// Footer

.footer {
    @include flex-center-column;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer__copyright {
    font-size: 1.2rem;
}
.footer__link {
    text-decoration: none;
}
.footer__link:hover, .footer__link:focus {
    text-decoration: underline;
}

// Display classes

.is-visible {
    display: flex;
}
.inst-visible {
    display: none;
}

// Misc items

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
    text-indent: 1rem;
    padding: 1rem;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
    text-indent: 1rem;
    padding: 1rem;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #ffffff;
    text-indent: 1rem;
    padding: 1rem;
}
:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
    text-indent: 1rem;
    padding: 1rem;
}

.devicons {
    font-size: 5rem;
}