
.icon-phone-1:before { content: '\e803'; } /* '' */
.icon-mail-alt:before { content: '\e805'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */