@charset "UTF-8";
.nav__logo {
  position: fixed;
  top: 1.5rem;
  left: 2rem;
  width: 15rem; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: 100vw;
  max-width: 100vw;
  height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  z-index: 1; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 50%;
  padding: 0;
  list-style: none;
  margin-left: 15rem; }
  @media screen and (max-width: 850px) {
    .nav__list {
      display: none; } }

.nav__list--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  position: fixed;
  left: 0;
  top: 5rem;
  width: 100vw;
  display: none;
  padding: 0;
  z-index: 3;
  list-style: none; }

.nav__item {
  font-size: 1.8rem;
  display: block;
  width: 20%; }

.nav__item--flag {
  cursor: pointer; }
  @media screen and (min-width: 851px) {
    .nav__item--flag {
      position: fixed;
      top: 1.5rem;
      right: 2rem; } }

.nav__item--mobile {
  width: 100vw;
  font-size: 1.8rem;
  display: block;
  text-align: center;
  z-index: 4;
  padding: 1rem 0 1rem 0; }

.nav__link {
  text-decoration: none; }

.nav__link--mobile {
  z-index: 5; }

.nav__link:hover, .nav__link:focus {
  text-decoration: underline; }

.nav__hamburger, .nav__close-menu {
  font-size: 3rem;
  border: none;
  background: none;
  margin-left: auto; }
  @media screen and (min-width: 851px) {
    .nav__hamburger, .nav__close-menu {
      display: none; } }

.nav__close-menu {
  display: none; }

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: 75%;
  position: relative; }
  @media screen and (max-width: 800px) {
    .projects {
      width: 95%; } }

.projects__project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  padding: 2rem;
  z-index: 0; }

.projects__photo {
  z-index: 0; }

.projects__title {
  font-style: italic;
  text-align: center; }

.projects__description {
  text-align: center;
  width: 70%; }
  @media screen and (max-width: 800px) {
    .projects__description {
      width: 95%;
      font-size: 1.4rem; } }

.projects__link {
  color: #333;
  text-align: center;
  font-weight: bold; }

.projects__link:hover, .projects__link:focus {
  color: #666;
  text-decoration: underline; }

.owl-carousel .owl-item img {
  width: 50%; }
  @media screen and (max-width: 850px) {
    .owl-carousel .owl-item img {
      margin-top: 2rem;
      width: 80%; } }

.owl-nav {
  position: absolute;
  top: -5rem;
  width: 100%; }
  @media screen and (max-width: 850px) {
    .owl-nav {
      top: -3rem; } }

.owl-theme .owl-nav [class*="owl-"] {
  background-color: #333;
  color: #CDCBD4;
  padding: 0.7rem 1.5rem 0.5rem 1.5rem; }

.owl-theme .owl-nav [class*="owl-"]:hover {
  background-color: #555;
  color: #ffffff; }

.owl-carousel {
  z-index: 0; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  position: relative;
  width: 50%; }
  @media screen and (max-width: 800px) {
    .form {
      width: 90%; } }

.form__input {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgba(200, 200, 200, 0.5);
  color: #333333;
  width: 100%;
  border: none;
  height: 3rem;
  text-indent: 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.form__input:focus {
  background-color: rgba(180, 180, 180, 0.8);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.input__fail {
  font-size: 1.4rem;
  color: #c71610; }

.form__textarea {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgba(200, 200, 200, 0.5);
  color: #333333;
  width: 100%;
  height: 10rem;
  border: none;
  resize: none;
  text-indent: 1rem;
  padding-top: 0.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.form__textarea:focus {
  background-color: rgba(180, 180, 180, 0.8);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.form__button {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
  background-color: #666666;
  cursor: pointer;
  margin: 2rem auto 1rem auto;
  width: 10rem;
  height: 3rem;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.form__button:hover {
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #999999;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.form__button:focus {
  color: #ffffff;
  background-color: #444444; }

.form__group {
  font-size: 1.8rem;
  padding: 0.5rem;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.form__group:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.form__success, .form__fail {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  width: 70%;
  height: 20%;
  background-color: #4CD964;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.3);
  box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }
  .form__success p, .form__fail p {
    font-size: 2.4rem;
    color: #ffffff; }
  @media screen and (max-width: 600px) {
    .form__success, .form__fail {
      width: 90%;
      text-align: center; } }

.form__fail {
  background-color: #c71610; }

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: 50%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 5rem 10rem 5rem 10rem; }
  @media screen and (max-width: 800px) {
    .socials {
      width: 100%;
      padding: 0; } }

.socials__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  text-decoration: none;
  color: #333; }
  @media screen and (max-width: 850px) {
    .socials__item {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; } }

@media screen and (max-width: 850px) {
  .socials__item:nth-child(3) {
    margin-bottom: 2rem; } }

@media screen and (max-width: 850px) {
  .socials__item:nth-child(4) {
    margin-bottom: 2rem; } }

.socials__item:hover, .socials__item:focus {
  color: #666; }

.icon {
  font-size: 6rem; }
  @media screen and (max-width: 850px) {
    .icon {
      font-size: 4rem; } }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  max-width: 100vw;
  min-height: 3rem; }

.footer__copyright {
  font-size: 1.2rem; }

.footer__link {
  color: #333;
  text-decoration: none; }

.footer__link:hover, .footer__link:focus {
  color: #555;
  text-decoration: underline; }

.fade-out {
  -webkit-animation: fade-out 2s;
  animation: fade-out 2s; }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none; } }

.fade-in {
  -webkit-animation: fade-in 3s;
  animation: fade-in 3s; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: -webkit-box;
    display: flex; } }

@keyframes fade-in {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

/*!
 *  Devicons 1.8.0 made by Theodore Vorillas / http://vorillaz.com 
 */
@font-face {
  font-family: 'devicons';
  src: url("../fonts/devicons.eot?xqxft6");
  src: url("../fonts/devicons.eot?#iefixxqxft6") format("embedded-opentype"), url("../fonts/devicons.woff?xqxft6") format("woff"), url("../fonts/devicons.ttf?xqxft6") format("truetype"), url("../fonts/devicons.svg?xqxft6#devicons") format("svg");
  font-weight: normal;
  font-style: normal; }

.devicons {
  font-family: 'devicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.devicons-git:before {
  content: ""; }

.devicons-git_compare:before {
  content: ""; }

.devicons-git_branch:before {
  content: ""; }

.devicons-git_commit:before {
  content: ""; }

.devicons-git_pull_request:before {
  content: ""; }

.devicons-git_merge:before {
  content: ""; }

.devicons-bitbucket:before {
  content: ""; }

.devicons-github_alt:before {
  content: ""; }

.devicons-github_badge:before {
  content: ""; }

.devicons-github:before {
  content: ""; }

.devicons-github_full:before {
  content: ""; }

.devicons-java:before {
  content: ""; }

.devicons-ruby:before {
  content: ""; }

.devicons-scala:before {
  content: ""; }

.devicons-python:before {
  content: ""; }

.devicons-go:before {
  content: ""; }

.devicons-ruby_on_rails:before {
  content: ""; }

.devicons-django:before {
  content: ""; }

.devicons-markdown:before {
  content: ""; }

.devicons-php:before {
  content: ""; }

.devicons-mysql:before {
  content: ""; }

.devicons-streamline:before {
  content: ""; }

.devicons-database:before {
  content: ""; }

.devicons-laravel:before {
  content: ""; }

.devicons-javascript:before {
  content: ""; }

.devicons-angular:before {
  content: ""; }

.devicons-backbone:before {
  content: ""; }

.devicons-coffeescript:before {
  content: ""; }

.devicons-jquery:before {
  content: ""; }

.devicons-modernizr:before {
  content: ""; }

.devicons-jquery_ui:before {
  content: ""; }

.devicons-ember:before {
  content: ""; }

.devicons-dojo:before {
  content: ""; }

.devicons-nodejs:before {
  content: ""; }

.devicons-nodejs_small:before {
  content: ""; }

.devicons-javascript_shield:before {
  content: ""; }

.devicons-bootstrap:before {
  content: ""; }

.devicons-sass:before {
  content: ""; }

.devicons-css3_full:before {
  content: ""; }

.devicons-css3:before {
  content: ""; }

.devicons-html5:before {
  content: ""; }

.devicons-html5_multimedia:before {
  content: ""; }

.devicons-html5_device_access:before {
  content: ""; }

.devicons-html5_3d_effects:before {
  content: ""; }

.devicons-html5_connectivity:before {
  content: ""; }

.devicons-ghost_small:before {
  content: ""; }

.devicons-ghost:before {
  content: ""; }

.devicons-magento:before {
  content: ""; }

.devicons-joomla:before {
  content: ""; }

.devicons-jekyll_small:before {
  content: ""; }

.devicons-drupal:before {
  content: ""; }

.devicons-wordpress:before {
  content: ""; }

.devicons-grunt:before {
  content: ""; }

.devicons-bower:before {
  content: ""; }

.devicons-npm:before {
  content: ""; }

.devicons-yahoo_small:before {
  content: ""; }

.devicons-yahoo:before {
  content: ""; }

.devicons-bing_small:before {
  content: ""; }

.devicons-windows:before {
  content: ""; }

.devicons-linux:before {
  content: ""; }

.devicons-ubuntu:before {
  content: ""; }

.devicons-android:before {
  content: ""; }

.devicons-apple:before {
  content: ""; }

.devicons-appstore:before {
  content: ""; }

.devicons-phonegap:before {
  content: ""; }

.devicons-blackberry:before {
  content: ""; }

.devicons-stackoverflow:before {
  content: ""; }

.devicons-techcrunch:before {
  content: ""; }

.devicons-codrops:before {
  content: ""; }

.devicons-css_tricks:before {
  content: ""; }

.devicons-smashing_magazine:before {
  content: ""; }

.devicons-netmagazine:before {
  content: ""; }

.devicons-codepen:before {
  content: ""; }

.devicons-cssdeck:before {
  content: ""; }

.devicons-hackernews:before {
  content: ""; }

.devicons-dropbox:before {
  content: ""; }

.devicons-google_drive:before {
  content: ""; }

.devicons-visualstudio:before {
  content: ""; }

.devicons-unity_small:before {
  content: ""; }

.devicons-raspberry_pi:before {
  content: ""; }

.devicons-chrome:before {
  content: ""; }

.devicons-ie:before {
  content: ""; }

.devicons-firefox:before {
  content: ""; }

.devicons-opera:before {
  content: ""; }

.devicons-safari:before {
  content: ""; }

.devicons-swift:before {
  content: ""; }

.devicons-symfony:before {
  content: ""; }

.devicons-symfony_badge:before {
  content: ""; }

.devicons-less:before {
  content: ""; }

.devicons-stylus:before {
  content: ""; }

.devicons-trello:before {
  content: ""; }

.devicons-atlassian:before {
  content: ""; }

.devicons-jira:before {
  content: ""; }

.devicons-envato:before {
  content: ""; }

.devicons-snap_svg:before {
  content: ""; }

.devicons-raphael:before {
  content: ""; }

.devicons-google_analytics:before {
  content: ""; }

.devicons-compass:before {
  content: ""; }

.devicons-onedrive:before {
  content: ""; }

.devicons-gulp:before {
  content: ""; }

.devicons-atom:before {
  content: ""; }

.devicons-cisco:before {
  content: ""; }

.devicons-nancy:before {
  content: ""; }

.devicons-clojure:before {
  content: ""; }

.devicons-clojure_alt:before {
  content: ""; }

.devicons-perl:before {
  content: ""; }

.devicons-celluloid:before {
  content: ""; }

.devicons-w3c:before {
  content: ""; }

.devicons-redis:before {
  content: ""; }

.devicons-postgresql:before {
  content: ""; }

.devicons-webplatform:before {
  content: ""; }

.devicons-jenkins:before {
  content: ""; }

.devicons-requirejs:before {
  content: ""; }

.devicons-opensource:before {
  content: ""; }

.devicons-typo3:before {
  content: ""; }

.devicons-uikit:before {
  content: ""; }

.devicons-doctrine:before {
  content: ""; }

.devicons-groovy:before {
  content: ""; }

.devicons-nginx:before {
  content: ""; }

.devicons-haskell:before {
  content: ""; }

.devicons-zend:before {
  content: ""; }

.devicons-gnu:before {
  content: ""; }

.devicons-yeoman:before {
  content: ""; }

.devicons-heroku:before {
  content: ""; }

.devicons-debian:before {
  content: ""; }

.devicons-travis:before {
  content: ""; }

.devicons-dotnet:before {
  content: ""; }

.devicons-codeigniter:before {
  content: ""; }

.devicons-javascript_badge:before {
  content: ""; }

.devicons-yii:before {
  content: ""; }

.devicons-msql_server:before {
  content: ""; }

.devicons-composer:before {
  content: ""; }

.devicons-krakenjs_badge:before {
  content: ""; }

.devicons-krakenjs:before {
  content: ""; }

.devicons-mozilla:before {
  content: ""; }

.devicons-firebase:before {
  content: ""; }

.devicons-sizzlejs:before {
  content: ""; }

.devicons-creativecommons:before {
  content: ""; }

.devicons-creativecommons_badge:before {
  content: ""; }

.devicons-mitlicence:before {
  content: ""; }

.devicons-senchatouch:before {
  content: ""; }

.devicons-bugsense:before {
  content: ""; }

.devicons-extjs:before {
  content: ""; }

.devicons-mootools_badge:before {
  content: ""; }

.devicons-mootools:before {
  content: ""; }

.devicons-ruby_rough:before {
  content: ""; }

.devicons-komodo:before {
  content: ""; }

.devicons-coda:before {
  content: ""; }

.devicons-bintray:before {
  content: ""; }

.devicons-terminal:before {
  content: ""; }

.devicons-code:before {
  content: ""; }

.devicons-responsive:before {
  content: ""; }

.devicons-dart:before {
  content: ""; }

.devicons-aptana:before {
  content: ""; }

.devicons-mailchimp:before {
  content: ""; }

.devicons-netbeans:before {
  content: ""; }

.devicons-dreamweaver:before {
  content: ""; }

.devicons-brackets:before {
  content: ""; }

.devicons-eclipse:before {
  content: ""; }

.devicons-cloud9:before {
  content: ""; }

.devicons-scrum:before {
  content: ""; }

.devicons-prolog:before {
  content: ""; }

.devicons-terminal_badge:before {
  content: ""; }

.devicons-code_badge:before {
  content: ""; }

.devicons-mongodb:before {
  content: ""; }

.devicons-meteor:before {
  content: ""; }

.devicons-meteorfull:before {
  content: ""; }

.devicons-fsharp:before {
  content: ""; }

.devicons-rust:before {
  content: ""; }

.devicons-ionic:before {
  content: ""; }

.devicons-sublime:before {
  content: ""; }

.devicons-appcelerator:before {
  content: ""; }

.devicons-asterisk:before {
  content: ""; }

.devicons-aws:before {
  content: ""; }

.devicons-digital-ocean:before {
  content: ""; }

.devicons-dlang:before {
  content: ""; }

.devicons-docker:before {
  content: ""; }

.devicons-erlang:before {
  content: ""; }

.devicons-google-cloud-platform:before {
  content: ""; }

.devicons-grails:before {
  content: ""; }

.devicons-illustrator:before {
  content: ""; }

.devicons-intellij:before {
  content: ""; }

.devicons-materializecss:before {
  content: ""; }

.devicons-openshift:before {
  content: ""; }

.devicons-photoshop:before {
  content: ""; }

.devicons-rackspace:before {
  content: ""; }

.devicons-react:before {
  content: ""; }

.devicons-redhat:before {
  content: ""; }

.devicons-scriptcs:before {
  content: ""; }

.devicons-sqllite:before {
  content: ""; }

.devicons-vim:before {
  content: ""; }

.icon--theme {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 20%; }

.light-theme {
  background-color: #eaeaea;
  color: #333333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.light-theme--link {
  color: #333333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.light-theme--link:hover, .light-theme--link:focus {
  color: #666666; }

.dark-theme {
  background-color: #333333;
  color: #eaeaea;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.dark-theme--link {
  color: #eaeaea;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.dark-theme--link:hover, .dark-theme--link:focus {
  color: #ffffff; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #333;
  width: 100vw;
  min-height: 100vh; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  min-height: 100vh;
  width: 100%; }

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: 100vw;
  min-height: 100vh; }
  @media screen and (max-width: 800px) {
    .section {
      padding: 5rem 0 2rem 0; } }

.section__title {
  font-size: 4rem; }
  @media screen and (max-width: 850px) {
    .section__title {
      width: 95%;
      font-size: 2.5rem;
      text-align: center; } }

.section__subtitle {
  font-size: 2.5rem; }
  @media screen and (max-width: 850px) {
    .section__subtitle {
      width: 95%;
      font-size: 1.8rem;
      text-align: center; } }

.section__title--start {
  font-size: 7rem; }
  @media screen and (max-width: 850px) {
    .section__title--start {
      font-size: 4rem;
      text-align: center; } }

.section__subtitle--start {
  font-size: 4rem; }
  @media screen and (max-width: 850px) {
    .section__subtitle--start {
      font-size: 2rem; } }

.section__description {
  font-size: 1.8rem;
  width: 70%;
  text-align: center; }
  @media screen and (max-width: 850px) {
    .section__description {
      width: 90%;
      font-size: 1.4rem; } }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: 70%; }
  @media screen and (max-width: 850px) {
    .contact {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%; } }

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.skills__skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin: 0 2rem 0 2rem; }
  @media screen and (max-width: 850px) {
    .skills__skill {
      -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
      margin: 0 0.5rem 0 0.5rem; } }

@media screen and (max-width: 850px) {
  .skills__text {
    font-size: 1.4rem; } }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #333333;
  text-indent: 1rem;
  padding: 1rem; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #333333;
  text-indent: 1rem;
  padding: 1rem; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #333333;
  text-indent: 1rem;
  padding: 1rem; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #333333;
  text-indent: 1rem;
  padding: 1rem; }

.devicons {
  font-size: 5rem; }

.icon-moon, .icon-sun {
  font-size: 3rem; }
