.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
  position: relative; }
  @media screen and (max-width: 900px) {
    .form {
      padding: 1rem; } }
  @media screen and (min-width: 901px) {
    .form {
      padding: 2.5rem;
      width: 50%; } }

.form__input {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgba(200, 200, 200, 0.5);
  color: #333333;
  width: 100%;
  border: none;
  height: 3rem;
  text-indent: 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.form__input:focus {
  background-color: rgba(180, 180, 180, 0.8);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.input__fail {
  font-size: 1.4rem;
  color: #c71610; }

.form__textarea {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgba(200, 200, 200, 0.5);
  color: #333333;
  width: 100%;
  height: 13rem;
  border: none;
  resize: none;
  text-indent: 1rem;
  padding-top: 0.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.form__textarea:focus {
  background-color: rgba(180, 180, 180, 0.8);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.form__button {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #666666;
  cursor: pointer;
  margin: 2rem auto 1rem auto;
  width: 10rem;
  height: 3rem;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.form__button:hover {
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #999999;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.3);
  box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.3);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.form__button:focus {
  color: #ffffff;
  background-color: #444444; }

.form__group {
  font-size: 1.8rem;
  padding: 1rem;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.form__group:hover {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.3);
  box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.3);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.form__success, .form__fail {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  width: 70%;
  height: 20%;
  background-color: #4CD964;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.3);
  box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .form__success p, .form__fail p {
    font-size: 2.4rem;
    color: #ffffff; }
  @media screen and (max-width: 600px) {
    .form__success, .form__fail {
      width: 90%;
      text-align: center; } }

.form__fail {
  background-color: #c71610; }

.fade-out {
  -webkit-animation: fade-out 2s;
  animation: fade-out 2s; }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none; } }

.fade-in {
  -webkit-animation: fade-in 2s;
  animation: fade-in 2s; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: -webkit-box;
    display: flex; } }

@keyframes fade-in {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

html {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #333;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; }

.nav__logo {
  -ms-flex-item-align: start;
  align-self: flex-start;
  position: absolute;
  top: 1rem;
  left: 1rem; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 50%; }

.nav__item {
  font-size: 1.8rem;
  margin: 1rem 1.5rem 1rem 1.5rem;
  display: block; }

.nav__item:last-of-type {
  margin-right: 3rem; }

.nav__link {
  text-decoration: none; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.container__title {
  color: #333333;
  margin-top: 5rem; }

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: none; }

.main-section__title {
  font-size: 7rem; }

.main-section__subtitle {
  font-size: 4rem; }

.section {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: none; }

.section__title {
  font-size: 4rem; }

.section__subtitle {
  font-size: 2.5rem; }

.section__description {
  font-size: 1.8rem;
  width: 50%; }

.container--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.skills__skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 2rem 0 2rem; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }

.footer__copyright {
  font-size: 1.2rem; }

.footer__link {
  text-decoration: none; }

.footer__link:hover, .footer__link:focus {
  text-decoration: underline; }

.is-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.inst-visible {
  display: none; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff;
  text-indent: 1rem;
  padding: 1rem; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
  text-indent: 1rem;
  padding: 1rem; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff;
  text-indent: 1rem;
  padding: 1rem; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
  text-indent: 1rem;
  padding: 1rem; }

.devicons {
  font-size: 5rem; }
